
    <div class="row">
      <div class="col s12">
              <div class="card cyan white-text">
                <div class="card-content">
                  <span class="card-title cyan darken-2 center-align"><span class="black-text darken-4"><span class="white-text darken-4">Welcome!</span></span></span>
                  <span class="card-subtitle"></span>
                  <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic magni temporibus alias aut quo, atque nesciunt quos iste ab aliquam ex doloribus quisquam inventore ducimus ullam. Suscipit laboriosam autem numquam. 
                  </p>
                    <br><br>
                    <p><b>Click one of the options below to get started!</b></p>
                <div class="card-tabs">
                  <div class="row">
                    <div class="col s12 m6">
                        <div class="card small cyan darken-2">
                          <div class="card-image">
                            <img src="" alt="">
                            <span class="card-title black">Posts</span>
                          </div>
                        <div class="card-content">
                          </div>
                          <div class="card-action">
                          <a href="/posts/all" class="btn waves-effect waves-light blue-grey lighten-2">
                          View the journey of others!
                          </a>
                          </div>
                        </div>
                    </div>
            
                </div>
               </div>
               </div>
              </div>
      </div>
    </div> 
          




